
# Node modules
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dotenv files
client/.env
server/.env

# Build output
client/dist/
server/dist/

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Docker 
docker/*.log
